@import "tailwindcss";

body {
  margin: 0;
  background: linear-gradient(135deg, #1a1a1a, #242424);
  color: #fff;
}

/* Light Mode */
@media (prefers-color-scheme: light) {
  body {
    background: linear-gradient(135deg, #f0f0f0, #ffffff);
    color: #213547;
  }
  button {
    background: linear-gradient(135deg, #646cff, #535bf2);
    color: #fff;
  }
  a:hover {
    color: #747bff;
  }
}
